@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    font-family: "Ubuntu Condensed", sans-serif;
}

:root {
    --side: 20%; 
    --success: #198754;
}

.nav-pills li a:hover {
    background-color: goldenrod;
}

.btn-success:hover {
    background-color: green;
    opacity: .8;
    color:white;
}

.btn-danger:hover {
    background-color: red;
    opacity: 0.8;
    color: white;
}

.mainDiv {
    display: flex;
    justify-content: space-around;
}

.sideBar {
    width: var(--side);
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
}

.flexbox {
    width: 100% - var(--side);
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
    height: 150px;
}

.modal-header {
    background-color: var(--success);
}

input[type='file'] {
    color: rgba(0, 0, 0, 0)
}

.material-symbols-outlined {
    font-size: 8em !important;
}

.files {
    display: flex;
    justify-content: center;
    margin-left: 15%;
}