@charset "UTF-8";
.heading-section h2 {
  font-size: 38px;
  font-weight: 700;
  position: relative;
}

.heading-section .subheading {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  color: #21cc7a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.heading-section .price-subheading {
  font-size: 10px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.single-room-details-area {
  position: relative;
  z-index: 1;
}
.single-room-details-area ul {
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}
.single-room-details-area ul li {
  color: #636a76;
  display: block;
  margin-bottom: 15px;
}

.room-thumbnail-slides {
  position: relative;
  z-index: 1;
}
.room-thumbnail-slides .carousel-indicators {
  position: relative;
  margin-bottom: 0;
}
.room-thumbnail-slides .carousel-indicators li {
  width: 120px;
  height: 70px;
}

.room-features-area {
  position: relative;
  z-index: 1;
}
.room-features-area h6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%;
  padding: 30px 15px;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  color: #afb4bf;
  line-height: 1.5;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .room-features-area h6 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .room-features-area h6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    font-size: 13px;
    padding: 20px 10px;
  }
}
.room-features-area h6 span {
  display: block;
  color: #2a303b;
}
.room-features-area h6:last-child {
  border-right: 1px solid #ebebeb;
}

.room-service {
  position: relative;
  z-index: 1;
}
.room-service ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.room-service ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  width: 33.333333%;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .room-service ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
.room-service ul li img {
  padding-right: 10px;
}

.hotel-reservation--area {
  position: relative;
  z-index: 1;
}
.hotel-reservation--area label,
.hotel-reservation--area .range-price {
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}
.hotel-reservation--area .form-control {
  width: 100%;
  height: 50px;
  text-align: left !important;
  font-size: 14px;
  padding: 0 20px;
  border-radius: 0 !important;
}
.hotel-reservation--area .form-control:focus {
  box-shadow: none;
  border-bottom-color: #21cc7a;
}
.hotel-reservation--area button {
  border-radius: 10px !important;
}
.datepicker {
  padding: 15px;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}
.datepicker.dropdown-menu {
  font-size: 14px;
  color: #636a76;
  font-weight: 400;
}

.hotel-reservation--area .nice-select {
  line-height: 48px;
}
.hotel-reservation--area .nice-select .list {
  width: 100%;
  background-color: #ffffff;
}

.btn:focus {
  box-shadow: none;
}

.roomDetailButton {
  position: relative;
  z-index: 1;
  min-width: 150px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 0 40px;
  text-align: center;
  text-transform: capitalize;
  background-color: #21cc7a;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.roomDetailButton:focus,
.roomDetailButton:hover {
  font-weight: 500;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  background-color: #ffffff;
  color: #000000;
}

