@charset "UTF-8";
.rooms-section {
  padding-top: 3rem;
  position: relative;
  overflow: hidden;
}

.room-container-fluid {
  width: 100%;
}

.room-heading-section h2 {
  font-size: 38px;
  font-weight: 700;
  position: relative;
}

.room-heading-section .subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: #21cc7a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.roomsContainer {
  margin: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.room-wrap {
  width: 100%;
  background: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.room-wrap .img {
  width: 100%;
  display: block;
}

.room-wrap .half {
  width: 100%;
  position: relative;
}
.room-wrap .half:after,
.room-wrap .half:before {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.room-wrap .half.left-arrow:after {
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 15px 12px 0;
  border-color: transparent #fff transparent transparent;
}
.room-wrap .half.right-arrow:after {
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 15px;
  border-color: transparent transparent transparent #fff;
}
.room-wrap .text {
  width: 100%;
}
.room-wrap .text h2 {
  color: #fff;
  font-size: 40px;
}
.room-wrap .text p {
  color: rgba(255, 255, 255, 0.9);
}
.room-wrap .text h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.room-wrap .text h3 a {
  color: #000000;
  text-decoration: none;
}

.room-wrap .text a {
  color: #000000;
  text-decoration: none;
}
.room-wrap .text span.price {
  font-size: 26px;
  color: #21cc7a;
  position: relative;
}
.room-wrap .text span.per {
  font-size: 14px;
  color: #666666;
}

.room-wrap .text p.roomsDesc {
  font-size: 16px;
  color: #3d3d3d;
}
.room-wrap .text .btn-custom {
  display: inline-block;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.room-wrap:hover,
.room-wrap:focus {
  background: #21cc7a;
}
.room-wrap:hover .half.left-arrow:after,
.room-wrap:focus .half.left-arrow:after {
  border-color: transparent #21cc7a transparent transparent;
}
.room-wrap:hover .half.right-arrow:after,
.room-wrap:focus .half.right-arrow:after {
  border-color: transparent transparent transparent #21cc7a;
}
.room-wrap:hover .text .star span,
.room-wrap:focus .text .star span {
  color: #fff;
}
.room-wrap:hover .text h3 a,
.room-wrap:focus .text h3 a {
  color: #fff;
}
.room-wrap:hover .text span.price,
.room-wrap:focus .text span.price {
  color: #fff;
}
.room-wrap:hover .text span.per,
.room-wrap:focus .text span.per {
  font-size: 14px;
  color: white;
}
.room-wrap:hover .text p.roomsDesc,
.room-wrap:focus .text p.roomsDesc {
  font-size: 16px;
  color: white;
}
.room-wrap:hover .text .btn-custom,
.room-wrap:focus .text .btn-custom {
  display: inline-block;
  color: #000000;
  border: 2px solid white;
  background: #fff;
}

.room-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.star span {
  color: gold;
  margin: 0 4px;
}

@media (max-width: 770px) {
  .rooms-section {
    padding: 6em 0;
  }

  .room-wrap {
    display: flex;
    flex-direction: column;
  }
  .room-wrap .img {
    height: 360px;
    order: -1;
  }

  .room-wrap .half.left-arrow:after {
    display: none;
  }
  .room-wrap .half.right-arrow:after {
    display: none;
  }
}
