@charset "UTF-8";



.service-title{
  color: #21cc7a;
  font-size: 33px;
  font-weight: 500;
}

.service-description{
  color: #222222;
  font-size: 15px;
  padding: 0 50px;
  margin-top: 20px;
  font-weight: 500;
}

.services-intro {
  position: relative;
  z-index: 1;
}
.core-features-area {
  position: relative;
  z-index: 10;
}
.core-features-area .single-core-feature {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 514px;
}
.core-features-area .single-core-feature .bg-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.core-features-area .single-core-feature .feature-content {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid #21cc7a;
  padding: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .core-features-area .single-core-feature .feature-content {
    width: 85%;
  }
}

.core-features-area .single-core-feature .feature-content h3 {
  font-size: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .core-features-area .single-core-feature .feature-content h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .core-features-area .single-core-feature .feature-content h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .core-features-area .single-core-feature .feature-content h3 {
    font-size: 24px;
  }
}
.core-features-area .single-core-feature .feature-content p {
  margin-bottom: 0;
}

.single-service-area {
  position: relative;
  z-index: 1;
}

.single-service-area h4 {
  font-size: 30px;
  margin-bottom: 25px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media only screen and (max-width: 767px) {
  .single-service-area h4 {
    font-size: 24px;
  }
}
.single-service-area p {
  margin-bottom: 0;
}

.our-milestones {
  position: relative;
  z-index: 1;
}
.our-milestones .single-cool-fact {
  background-color: rgba(0, 0, 0, 0.63);
}

.mb-100 {
  margin-bottom: 100px !important;
}


.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
