@charset "UTF-8";



.link-nav {
  margin-top: 10px;
  margin-bottom: 0px;
}

.about-banner {
  background: url(.images/SubPageHero/hero-bg.jpg) center;
  background-size: cover;
}

.about-content {
  margin-top: 70px;
  padding: 90px 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .about-content {
    margin-top: 70px;
  }
}

.about-content h1 {
  font-size: 48px;
  font-weight: 600;
}

.about-content a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.about-content #lnr {
  margin: 0px 10px;
  font-weight: 600;
}



.nav-menu .login {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #24AB70; 
  color: #fff; 
  text-decoration: none;
}

.nav-menu .login:hover {
  color: #000000; 
}

.nav-menu .signup {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fff; 
  color: #000000; 
  text-decoration: none;
}

.nav-menu .signup:hover {
  color: #009a33; 
}